* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    width: 100vw;
    height: 100vh;

    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: fit-content;
    height: fit-content;
    border: 2px solid rgb(39, 39, 39);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.container .emoji-btn{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgb(39, 39, 39);
    outline: none;

    font-size: 2rem;
}